.button{
    -fx-padding: 10px;
    -fx-border-radius: 15px;
    -fx-background-color: #008CBA;
    -fx-text-fill: white;
    -fx-border-color: #008CBA;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.correct-answer{
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
    -fx-font-weight: bold;
    -fx-border-color: #4CAF50;
}
.bad-answer{
    -fx-text-fill: white;
    -fx-background-color: #f44336;
    -fx-font-weight: bold;
    -fx-border-color: #f44336;
}

